# Environment Variables Example Template
# Duplicate this file to .env or .env.local for local development.
# NEVER commit actual secrets, keys, or personal tokens to version control.

GITHUB_USERNAME=rosenkrvz
GITHUB_TOKEN=
GITHUB_WEBHOOK_SECRET=
YOUR_DOMAIN=
